<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        font-family: Helvetica, Arial, sans-serif;
        min-width: 1000px;
        overflow: auto;
        line-height: 2;
      "
    >
      <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div
          style="
            border-bottom: 1px solid #eee;
            display: flex;
            align-items: center;
            gap: 5px;
          "
        >
          <div>
            <img
              src="https://s3-alpha-sig.figma.com/img/e8f1/50f4/dd316b36489ed2498bae94124e7ee124?Expires=1679270400&Signature=KaQqES22JXKy5VmEtL445aKEnVvCpFgrTviP~6G78Ghp3ucMz1rEXLMNu5GIxpDyOvOkPYwZm8AuP7pA5iHXk8UwEARtCEdV8K6phSyTpSiy0PUUm7rDsyd6Dx-TsNegP30RjrxK5GuzcgidxJOkRBkmxtnEqSXSIoGbPKKYZ-fM031h2eiord0KHswSDk9x7GHh7U3lRlN3T~Rcnut4V9QWcIyNOlw7nTJqep1N1OS6qGXXhx2TTUvBLuPiR8lXcqy6qisejYXWdmwij7ZQ~N-x2gsbMPamQhbyPX~fWgCHR9PevDulWtEFhjitqVjysaOECNoymxfISai51jtnUA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt=""
              width="30px"
              height="30px"
            />
          </div>
          <div>
            <a
              href=""
              style="
                font-size: 1.4em;
                color: #6a4029;
                text-decoration: none;
                font-weight: 600;
              "
              >Coffee Shop</a
            >
          </div>
        </div>
        <p style="font-size: 1.1em">Hi,{{name}}</p>
        <p>
          Thank you for choosing Coffee Shop. Use the following LINK to complete
          your Reset Password procedures. Link is valid for 5 minutes
        </p>
        <h2
          style="
            background: #ffba33;
            margin: 0 auto;
            width: max-content;
            padding: 0 10px;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
          "
        >
          Reset Password
        </h2>
        <p style="font-size: 0.9em">Yanu Setiawan,<br />Coffee Shop</p>
        <hr style="border: none; border-top: 1px solid #eee" />
        <div
          style="
            float: right;
            padding: 8px 0;
            color: #aaa;
            font-size: 0.8em;
            line-height: 1;
            font-weight: 300;
          "
        >
          <p>Coffee Shop Inc</p>
          <p>Tuban Jawa Timur</p>
          <p>Indonesia</p>
        </div>
      </div>
    </div>
  </body>
</html>
